# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.gigaide/
.gradle/
.idea/
.settings/
build/
.classpath
.project
.gitattributes
gradlew
gradlew.bat